.masthead {background-color: #C61F16;}
.media-heading{display: none}
.placeholder{}
.img-responsive{display:none}
.media-image{background: url("/base/images/frontpage.jpg");height: 450px}
.account-masthead {background-color: #850001;}
.site-footer {background-color: #C61F16;}
.module-content header p{font-style: oblique;}
.list-unstyled{border: 0}
body{ background-color: #C61F16;}
.account-masthead .account ul li {border-left: none}

.navbar {
    /*background-color: #333;*/
    position: relative;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*background: black;*/
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

/* Style the dropdown menu */
.navbar ul ul {
    position: absolute;
    /*top: 100%;*/
    display: none;
}

.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;
}

/* Change the background color of dropdown links on hover */
/*
.navbar ul ul li a:hover {
    background-color: #555;
}
*/
